<h1>Bienvenue dans la Revue des {{ heroes.length }} héros, {{ username }}</h1>

<p>
  <label for="InputUsername">Votre nom <input id="InputUsername" type="text" name="name" [(ngModel)]="username"></label>
</p>

<h2>Les Héros</h2>
<ul>
  <li *ngFor='let hero of heroes'>{{ hero }}<small *ngIf="hero == username">(c'est moi :)</small></li>
</ul>
<p>
  <label for="InputHeroName">Héros à ajouter : <input id="InputHeroName" type="text" name="nameOfTheHero"
      [(ngModel)]="heroToAdd"></label><button (click)='addHero()'>Ajouter héros</button>
</p>




<app-heroes-list></app-heroes-list>
